*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;

        & ul{
        list-style: none;
        display: flex;
        gap: 10px;
        align-items: center;
            
        }
}